extends /src/assets/defaults/default.pug

block variables
    - const title = "Главная"
    - const page_name = "index"
    - const components = ["cool-block"]

block content
    div 123213
    include /src/components/cool-block/cool-block.pug

